{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <script src="{% static 'snippet_app/js/main.js' %}" defer></script>
    <link href="{% static 'snippet_app/css/dist/output.css' %}" rel="stylesheet">
    <link href="{% static 'snippet_app/css/mystyle.css' %}" rel="stylesheet">
</head>

  <body>
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
          </li>
          {% endfor %}
      </ul>
      {% endif %}

    <header class="bg-[#aa998a] text-white p-4 text-xl flex flex-1 justify-around">
      <p>
          <a href="{% url 'snippet_app:list' %}?person={{1}}">Top</a>
      </p>


      <details>
          <summary> 皆の snippet </summary>
          {% for i_person in person_list %}
              <p>
                  <a href="{% url 'snippet_app:list' %}?person={{i_person.id}}">{{i_person.username}}</a>
              </p>
          {% endfor %}
      </details>

        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'snippet_app:list' %}?person={{user.id}}">
                    "{{user.username}}" の snippet
                </a>
            </p>
        {% else %}
            <p>
                <a href="{%url 'account_login'%}">
                    my_snippet
                </a>
            </p>
        {% endif %}

        {% if user.is_authenticated %}
            <p><a href="{%url 'account_logout'%}">log out</a></p>
        {% else %}
            <p><a href="{%url 'account_login'%}">log in</a></p>
        {% endif %}

    </header>

        {% block header%}{% endblock %}

        {% block contents%}{% endblock %}

        {% block footer%}{% endblock %}

  </body>

</html>