{% extends 'snippet_app/base.html' %}

{% block title %} Delete {% endblock %}

{% block contents %}
<div class="ml-4 text-2xl">
    <div>
        <p>{{lang.lang}} を本当に削除しますか？({{lang.user.username}} に所属しています)</p>
    </div>

    <form id='lang-delete', method="post">
            {% csrf_token %}
            <input type="submit" value="削除" class="bg-[#9ec3bc] p-2 rounded-md">
    </form>
    <a href="{% url 'snippet_app:list' %}?person={{user.id}}" class="bg-[#9ec3bc] p-2 rounded-md">キャンセル</a>
</div>


{% endblock %}