{% extends 'snippet_app/base.html' %}

{% block title %} List {% endblock %}

{% block contents %}

    {% if user.is_authenticated %}
<h1><a href="{% url 'snippet_app:create' %}"> snippet を作成する </a></h1>
    {% endif %}

    <p>
        <a href="{% url 'snippet_app:list' %}?person={{person.id}}">{{person.username}} の snippet </a>
    </p>

    <p>{{lang}}</p>
    <p>{{type}}</p>
    {% for i_snippet in object_list %}
        <p>{{i_snippet.title}}</p>
        {% if i_snippet.explanation is not None %}
            <p>説明 : {{i_snippet.explanation | linebreaksbr}}</p>
        {% endif %}
        <p>{{i_snippet.code | linebreaksbr}}</p>
        {% if user.id == person.id %}
        <p>
            <a href="{% url 'snippet_app:update' pk=i_snippet.id %}?person={{person.id}}">編集する</a>
            <a href="{% url 'snippet_app:delete' pk=i_snippet.id %}?person={{person.id}}">削除する</a>
        </p>
        {% endif %}

    {% endfor %}

    {% for i_list in lang_type_snippet %}
        <details>
            <summary>{{i_list.0.lang}}</summary>
            {% for j_list in i_list.1 %}
            <details>
<!--                <summary>{{j_list.0.type}}</summary>-->
                <summary>
                    <a href="{% url 'snippet_app:list' %}?person={{person.id}}&lang={{i_list.0.id}}&type={{j_list.0.id}}">{{j_list.0.type}}</a>
                </summary>
                {% for k_snippet in j_list.1 %}
                <ul>
                    <li>
                        <a href="{% url 'snippet_app:list' %}?person={{person.id}}&lang={{i_list.0.id}}&type={{j_list.0.id}}">{{k_snippet.title}}</a>
                    </li>
                </ul>
                {% endfor %}
            </details>
            {% endfor %}
        </details>
    {% endfor %}

<p>{{ user.id }}</p>
{% endblock %}

