{% extends 'snippet_app/base.html' %}

{% block title %} List {% endblock %}

{% block contents %}
    <p>
        <a href="{% url 'snippet_app:list' %}?person={{person.id}}">{{person.username}} の snippet </a>
    </p>

    {% for i_lang in lang_list %}
        <p>
            <a href="{% url 'snippet_app:list' %}?person={{person.id}}&lang={{i_lang.id}}">{{i_lang.lang}}</a>
        </p>
    {% endfor %}
    {% for i_type in type_list %}
        <p>
            <a href="{% url 'snippet_app:list' %}?person={{person.id}}&lang={{lang.id}}&type={{i_type.id}}">{{i_type.type}}</a>
        </p>
    {% endfor %}
    {% for i_snippet in object_list %}
        <p>{{i_snippet.title}}</p>
        {% if i_snippet.explanation is not None %}
            <p>説明 : {{i_snippet.explanation | linebreaksbr}}</p>
        {% endif %}
        <p>{{i_snippet.code | linebreaksbr}}</p>
    {% endfor %}

{% endblock %}




